* {
	margin: 0;
	padding:0;
}
body, html {

}
.container {
	margin-top: 50px;
}


.pack {
	  width:100px;
  height:70px;
	font-size: 20px;
perspective: 700px;

	-webkit-perspective-origin:  50% 150% ;

transition:all 1s;
border: 1px solid black;
}
.cube_1 {
	width: 100px;
	height: 70px;
	background: orange;
	transition:all 1s;
	transform-origin: top;
		z-index: 999;
}
.cube_2 {
	width: 100px;
	height: 70px;
	background: green;
	margin-top: -70px;
		transform-origin: bottom;

		transition:all 1s .13s;
			transform: rotateX(-95deg) translateZ(0px);
			z-index: -999;
			overflow: hidden;
			bottom: 0;	

}
.pack:hover {
	perspective: 0px !important;
	border: 1px solid yellow;
}
.pack:hover .cube_1 {
	transform: rotateX(75deg);

}
.pack:hover .cube_2 {

  transform:rotateX(0deg);

}



#pudelko {
  width:180px;
  height:240px;
  margin:0 auto;
  border:3px dashed #000;
  background-color:#FDD700;
  perspective:600px;
}

#karta {
  width:100%;
  height:100%;
  text-align:center;
  background-color:#EEE;
  transition:1s;
}

#pudelko:hover > #karta {
  transform:rotateX(180deg);
}
















.progres {
	width: 40%;
	height: 10px;
	background: linear-gradient(to bottom, #000, rgba(0,0,0,0) );
	border-radius: 0 2px 5px 0;
	-webkit-animation: up .5s;
	transition-duration: .5s;
  -webkit-animation-timing-function: linear;
  overflow: hidden;
  position: absolute;
  top: 0;
}

#proc {
	font-family: "Lucida Sans Unicode", Times, serif;
	font-size: 20px;
	margin: 20px;
}

@-webkit-keyframes up
{ 
  0% {
    width: 0%;
  }
}

